@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --pristine: #F2E8DA;
    --peach-fuzz: #FFBE98;
    --honey-peach: #DCBD9E;
    --peach-puree: #EFCFBA;
    --peach-pink: #FA9A85;
    --georgia-peach: #F97272;
    --peach-blossom: #DE8286;
    --peach-pearl: #FFB2A5;

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#FFBE98,#F97272);

    --background: 24 65% 6.4%;
    --foreground: 24 10% 99%;

    --muted: 24 16% 24.8%;
    --muted-foreground: 24 10% 58%;

    --popover: 24 30% 8.8%;
    --popover-foreground: 24 10% 99%;

    --card: 24 30% 8.8%;
    --card-foreground: 24 10% 99%;

    --border: 24 16% 24.8%;
    --input: 24 16% 24.8%;

    --primary: 24 100% 80%;
    --primary-foreground: 24 10% 8%;

    --secondary: 24 16% 24.8%;
    --secondary-foreground: 24 10% 99%;

    --accent: 24 16% 24.8%;
    --accent-foreground: 24 10% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 24 10% 99%;

    --ring: 24 100% 80%;
  }

  .dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#FFBE98,#F97272);

    --background: 24 65% 6.4%;
    --foreground: 24 10% 99%;

    --muted: 24 16% 24.8%;
    --muted-foreground: 24 10% 58%;

    --popover: 24 30% 8.8%;
    --popover-foreground: 24 10% 99%;

    --card: 24 30% 8.8%;
    --card-foreground: 24 10% 99%;

    --border: 24 16% 24.8%;
    --input: 24 16% 24.8%;

    --primary: 24 100% 80%;
    --primary-foreground: 24 10% 8%;

    --secondary: 24 16% 24.8%;
    --secondary-foreground: 24 10% 99%;

    --accent: 24 16% 24.8%;
    --accent-foreground: 24 10% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 24 10% 99%;

    --ring: 24 100% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}